body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

footer {
  background-color: #f1f1f1;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.card{
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0, 0,2);
  cursor: pointer;
}